body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Navigation Styling*/

.main-nav {

width: 100%;
height: 5vh;
background-color: black;
padding: 10px 10px;
margin-bottom: 3vh;

}

.main-nav a{

  color: white;
  margin-left: 3vh;


}

.main-nav a:visited{

  text-decoration: none;
  color: white;
}

.main-nav a:link{

  text-decoration: none;
  color: white;
}

.main-nav a:hover{
  border-style: none none solid none;

}